.badge {
  background-color: tomato;
  display: flex;
  justify-content: center;
  align-items: center;

  width: 24px;
  height: 24px;
  border-radius: 12px;

  color: white;
  font-size: 15px;
  font-weight: 600;
}
